@import '../Styles/variables';
.landing{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
  }


body::-webkit-scrollbar {
    width: 8px;              
}
// .description::-webkit-scrollbar {
//     -webkit-appearance: none;
// }
body::-webkit-scrollbar-thumb {
    background-color: $text-principal-button;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid $bg-cards;  /* creates padding around scroll thumb */
  }