@import '../Styles/variables';

.login-btn{
    display: flex;
    border: 2px solid $subtittles;
    border-radius: 10%;
    background-color: $navbar-color;
    padding: .2em .5em .2em .5em;
    color: $subtittles;
    font-size:medium;
    cursor: pointer;

    &:hover{
        border: 2px solid $principal-text-color;
        font-weight: bolder;
        color: $principal-text-color;
        scale: 1.2;
        }
    
}
.special-btn{
    display: flex;
    width: 160px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: $button;
    color: $text-principal-button;
    font-weight: bolder;
    font-size: medium;
    border-radius: 16px;

    .special-btn.edit{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
        
        &:hover{
            background-color: $principal-text-color ;
        }
    }
}