$bg-color: #090E16;
$text-principal-button: #7B4AE2;
$bg-cards: #7B4AE220;
$navbar-color: #7B4AE205;
$bg-modal: #090E16;
$button: #7B4AE210;
$principal-text-color: #7B4AE250;
$tittles: #fff;
$subtittles: #ffffff50;
$border:#ffffff10; 