@import '../../Styles/variables';

.contact{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;

    .special-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 45px;
        background-color: $button;
        color: $text-principal-button;
        font-weight: bolder;
        border-radius: 16px;
    }

    .name{
        color: $tittles;
        font-size: 52px;
        font-weight: bolder;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 10vh;
        
        .call-to-talk{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 200px;
            border: 2px solid $principal-text-color;
            border-radius: 15px;
            cursor: pointer;
            

            .whatsapp{
                color:$principal-text-color;
                font-size: 20px ;
                font-weight: bolder;

                p{
                    margin-left: 15px;
                }
            }

        }
        .call-to-email{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: larger;

            h3{
                color: $text-principal-button;
            }
            p{
                color: $subtittles;
                font-size: 1.3em;
                margin-top: 2px;
            }
            .copy{
                cursor: pointer;
            }
        }
    }
    .end{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw ;
        background-color: $bg-cards;
        bottom: 0;

        p{
            display: flex;
            position: absolute;
            left: 30px;
            color: $subtittles;
        }
        .icons{
            display: flex;
            justify-content: center;
            width: 25%;
            height: 33px;
    
            .icon{
                width: 32px;
                height: 32px;
                margin-right: 10px;
                color: $subtittles;
                cursor: pointer;
            }
        }
    }
}