@import  '../../Styles/variables';

.track-record{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    h2{
        display: flex;
        color: $tittles;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        height: 20%;
        
            .special-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 45px;
                background-color: $button;
                color: $text-principal-button;
                font-weight: bolder;
                border-radius: 15px;
                margin-bottom: 15px;

                span{
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                }
                
            }
        
            .name{
                color: $tittles;
                font-size: 52px;
                font-weight: bolder;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            
    }
    .left , .right{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 80%;

        }
    

}